<div class="container" [@fadeInOut]>
    <h1>INGRESO DE VEHICULOS AL CONDOMINIO</h1>
    <p>Esta es la página de inicio donde registraras ingreso de  VehiculoS.</p>
  </div>
  <!DOCTYPE html>
<html lang="es">

<body>
    <div class="container">
        <h1>CONDOMINIO LAS RIVIERAS </h1>
        <!-- Aquí se incluirá la imagen -->
        <img src="https://th.bing.com/th/id/OIP.cK9sjOuHrxinrBTPxYJZIQHaE7?w=800&h=533&rs=1&pid=ImgDetMain" alt="COMDOMINIO REAL ">
    </div>

    <div @fadeInOut>
        <h1>Inicio</h1>
        <p>Bienvenido a la página de inicio.</p>
      </div>
      
</body>
</html>
